---
---

@import 'variables';
@import 'breakpoints';
@import 'page_layout';
@import 'gallery';

// block styling
.block-element, nav, article, header, #site-footer {
    background-color: $block-background-color;
    border-radius: $block-border-radius;
    padding: $block-padding;
    border: 1px solid black;
    margin: $block-spacing / 2;
}

.section-title {
    font-size: 2em;
}
