---
---

@import 'variables';
@import 'breakpoints';

@import 'common';

h1 {
    margin: 0.3em 0;
    line-height: 1em;
    font-size: 2rem;
    font-weight: bold;
}

@import 'page_layout';

@import 'pages/projects';

@import 'blog';

@import "highlighting";
