---
---

@import 'variables';

$block-spacing: 1rem;

// block styling
.block-element, nav, article, header, #site-footer {
    background-color: $block-background-color;
    border-radius: $block-border-radius;
    padding: 0.6em;
    border: 1px solid black;
    margin: 0.5rem;
}

nav {
    height: auto;
    flex-basis: 12rem;
    display: flex;
    flex-direction: column;
    min-width: 8em;
    flex-grow: 1;
}

a:visited {
    color: $visited-link-color;
}

#site-title-block {
    display: flex;
    flex-direction: column;
}

#site-header-title {
    font-size: 2em;
}

#site-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#site-footer-description {
    flex-basis: 30em;
}

hr {
    width: 100%;
}

html {
    height: 100%;
}

body {
    background-color: $body-background-color;
    color: $text-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100% - 1rem);
}

main {
    flex: 6 30em;
}

#center-body {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-content: baseline;
    flex-grow: 1;
}

.section-title {
    font-size: 2em;
}
