<section id="recent-posts" class="block-element" aria-label="recent posts">
    <header class="section-header">
        <h1>Recent Posts</h1>
    </header>

    {% assign recent_posts = site.posts | where_exp: "post", "post.url != page.url" %}
    {% for post in recent_posts | limit: 5 %}
        <hr/>
        <div class="post-preview">
            <h2 class="post-preview-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <div class="post-preview-data">
                <span class="post-preview-author">{{ post.author }}</span>
                <span class="post-preview-date">{{ post.date | date: "%Y-%m-%d" }}</span>
            </div>
            <p>{{ post.description }}</p>
        </div>
    {% endfor %}
</section>