@import 'layout/header';
@import 'layout/nav';
@import 'layout/footer';

#floating-header {
  position: sticky;
  top: 0;

  // used to hide elements as they move above the header
  padding-top: $block-spacing;
  margin-top: - $block-spacing;

  $fade-distance: $block-spacing * 0.6;
  background-image: linear-gradient(to top, transparent, rgba($body-background-color, 0.5) ($fade-distance / 4), rgba($body-background-color, 0.75) ($fade-distance / 2), $body-background-color $fade-distance);
}

.section-header {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  
  display: flex;
  flex-direction: column;
}

:link {
  color: $link-color;
}

:visited {
  color: $visited-link-color;
}

hr {
  width: 100%;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
}

body {
  background-color: $body-background-color;
  color: $text-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: calc(100vh - 2rem);
  width: min(80ch, calc(100vw - 2rem));
  align-items: stretch;
  margin: $block-spacing;
}

main {
  flex-grow: 1;
}

.post-preview {
  display: flex;
  flex-direction: column;
}