@import 'layout/header';
@import 'layout/nav';
@import 'layout/footer';

#floating-header {
  position: sticky;
  top: 0;
  padding-top: $block-spacing;
  margin-top: - $block-spacing;
  background-color:  $body-background-color;
}

a:visited {
  color: $visited-link-color;
}

hr {
  width: 100%;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
}

body {
  background-color: $body-background-color;
  color: $text-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: calc(100vh - 2rem);
  width: min(80ch, calc(100vw - 2rem));
  align-items: stretch;
  margin: $block-spacing;
}

main {
  flex-grow: 1;
}

.post-preview {
  display: flex;
  flex-direction: column;
}