#site-nav-menu {
  $nav-height: 9rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: $nav-height;
  max-height: $nav-height;
  text-align: center;

  transition-property: min-height, max-height, margin, padding, border-width, box-shadow;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;

  &:not(.shown) {
    min-height: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    border-width: 0;
    box-shadow: 0 0 0 #00000088;
  }
}

#floating-header {
  position: sticky;
  top: 0;
  padding-top: $block-spacing;
  margin-top: - $block-spacing;
  background-color:  $body-background-color;
}

#site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#site-title-block {
  display: flex;
  flex-direction: column;
}

#site-header-title {
  font-size: 2em;
}

#nav-menu-button {
  font-size: 3rem;
  margin: 0;
  margin-right: 1rem;

  &:hover {
    cursor: pointer;
  }
}

a:visited {
  color: $visited-link-color;
}

#site-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 0;
}

#site-footer-description {
  flex-basis: 30em;
}

hr {
  width: 100%;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
}

body {
  background-color: $body-background-color;
  color: $text-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: calc(100vh - 2rem);
  width: min(80ch, calc(100vw - 2rem));
  align-items: stretch;
  margin: $block-spacing;
}

main {
  flex-grow: 1;
}
