@charset "utf-8";

$body-background-color: #2c2b2c;
$body-padding: 0.8rem;

$block-background-color: #4d4b4e;
$block-border-radius: 0.5rem;

$text-color: #dddddd;
$visited-link-color: #e57bff;

$tertiary-color: #8b8b8b;
$secondary-accent: #787878;

$block-spacing: 1rem;

$block-padding: $block-spacing / 2;
