---
layout: default
---

<header class="block-element">
    <h1>{{ page.title }}</h1>
    <span>{{ page.date }}</span>
    <span>{{ page.author }}</span>
</header>

<article id="post-content" class="block-element">
    {{ content }}
</article>

<section id="recent-posts">
    <header class="section-title block-element">
        Recent Posts
    </header>

    {% for post in site.posts limit:5 %}
    <div class="block-element">
        <span>{{ post.title }}</span>
    </div>
    {% endfor %}
</section>

