#site-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 0;
}
  
#site-footer-description {
    flex-basis: 30em;
}

#site-footer-social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
}

.social-link {
    margin: 0.3em;

    .social-logo {
        width: 1.5em;
        height: auto;
    }
}