#site-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
  
#site-title-block {
    display: flex;
    flex-direction: column;
    align-items: end;
}
  
#site-header-title {
    font-size: 2em;
}
  
#nav-menu-button {
    font-size: 3rem;
    margin: 0;
    margin-right: 1rem;
  
    &:hover {
        cursor: pointer;
    }
}